<!DOCTYPE html>
<html>
  <head>
    <title>Creativity Boost</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <body>
    <div id="left">
      <div id="header">
        <p>Creativity Boost</p>
      </div>
      <div id="opening">
        <img src="https://images.pexels.com/photos/459799/pexels-photo-459799.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        <p><span>BOOST YOUR CREATIVITY TODAY!<br></p></span>
      </div>
      <div  id="main">
        <h1>STORY GENERATOR</h1>
        <div class="prompt_wrapper">
          <div class="prompt_container">
            <center><p id="story_prompt">Story Prompt!</p></center>
          </div>
          <div class="prompt_reveal">
            <center><p>Hover for Prompt</p></center>
          </div>
        </div>  
        <br><br><br>
        <h1>ART GENERATOR</h1>
        <div class="prompt_wrapper">
          <div class="prompt_container">
            <center><p id="art_prompt">Art Prompt!</p></center>
          </div>
          <div class="prompt_reveal">
            <center><p>Hover for Prompt</p></center>
          </div>
        </div> 
        <br><br><br>
        <h1>CHARACTER GENERATOR</h1>
        <div class="prompt_wrapper">
          <div class="prompt_container">
            <center><p id="character_prompt">Character Prompt!</p></center>
          </div>
          <div class="prompt_reveal">
            <center><p>Hover for Prompt</p></center>
          </div>
        </div> 
      </div> 
    </div>
    <div id="right">
      <h1>SETTINGS</h1>
      <h3>Art Prompt</h3>
      <p>what art level are you?</p>
      <p>what catagory would you like to draw in?</p>
      <p>traditional or digital art?</p>
      <br>
      <h3>Story Prompt</h3>
      <p>what story level are you?</p>
      <p>how long would you like the prompt to be?</p>
      <p>what genre(s) would you like to write?</p>
      <br>
      <h3>Character Prompt</h3>
    </div>
  </body>
</html>